body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: rgba(9, 10, 88, 0.93); */

}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


/* index.hbs */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
}

.card-item {
  width: 400px; /* Ancho aproximado de 500px */
  margin: 10px; /* Espacio entre los elementos */
  text-align: center; /* Centra el contenido dentro del div */
  box-sizing: border-box;
  padding: 15px;
  /* border: 1px solid #ccc; Borde para visualización */
  font-weight: bold;
  font-size: 24px; /* Tamaño de la fuente */
  /* padding: 50px; */
}

.cover{
  height: 400px;
  background-color: aquamarine;
  color: white;
  background-image: url(https://i.ytimg.com/vi/KatEvrvL2Uc/maxresdefault.jpg);
  background-position: center;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
}

/* details carta*/

.custom-container {
  max-width: 800px; /* Tamaño máximo del contenedor */
  margin: auto; /* Centrar el contenedor horizontalmente */
  padding: 20px; /* Agregar un espacio alrededor del contenido */
}


/* private.hbs */
.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.readonly-form input[type="text"] {
  border: none;
  background-color: #f0f0f0;
  /* Para indicar que los campos no son editables */
  cursor: not-allowed;
}



.custom-container {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.custom-container::before,
.custom-container::after {
  content: "";
  position: absolute;
  border-top: 1px solid #ccc;
  width: 100%;
  top: -10px;
  z-index: -1;
}

.custom-container::before {
  top: -1px;
}

.custom-container::after {
  bottom: -1px;
}

.custom-container hr {
  display: none; /* Ocultamos las líneas horizontales por defecto */
}


/*details*/
.custom-wrapper {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.custom-wrapper::before,
.custom-wrapper::after {
  content: "";
  position: absolute;
  border-top: 1px solid #ccc;
  width: 100%;
  top: -10px;
  z-index: -1;
}

.custom-wrapper::before {
  top: -1px;
}

.custom-wrapper::after {
  bottom: -1px;
}

.custom-box {
  display: none; /* Ocultar líneas horizontales por defecto */
}